{% extends "engine/parts/base.html" %}
{% load i18n %}
{% block content %}
    <div id="fh5co-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>{% trans 'Select country' %}</h2>
                </div>
            </div>
            <div class="card-deck row-bottom-padded-md justify-content-center">
                {% for country in country_list %}
                    <div class="col-sm-5">
                        <div class="fh5co-blog animate-box">
                            <a href="{{ country.get_absolute_url }}"><img class="img-responsive"
                                                                          src="{{ country.image.url }}" alt=""></a>
                            <div class="blog-text">
                                <h3><a href="{{ country.get_absolute_url }}">{{ country.name }}</a></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}