{% extends "engine/parts/base.html" %}
{% load i18n %}
{% block content %}
    {% if city_or_state_list %}
    <div id="fh5co-blog">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>{% trans 'Choose your city' %}</h2>
				</div>
			</div>
			<div class="card-deck row-bottom-padded-md justify-content-center">
                {% for cs in city_or_state_list %}
				<div class="col-sm-4">
					<div class="fh5co-blog animate-box">
						<a href="{{ cs.get_absolute_url }}"><img class="img-responsive" src="{{ cs.image.url }}" alt=""></a>
						<div class="blog-text">
							<h3><a href="{{ cs.get_absolute_url }}">{{ cs.name }}</a></h3>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
    {% endif %}
{% endblock %}