{% extends "engine/parts/base.html" %}
{% load i18n %}
{% block content %}
    <div class="fh5co-abstract">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>{% trans 'Description' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    <p>{{ service.full_desc|safe }}</p>
                </div>
            </div>
            {% if gallery %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>{% trans 'Gallery' %}</h2>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-portfolio-list">
                        {% for image in gallery %}
                        <li class="one-third animate-box fast" data-animate-effect="fadeIn"
                            style="background-image: url('{{ image.image.url }}'); ">
                            <a href="{{ image.image.url }}" data-lightbox="roadtrip"></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>{% trans 'Send application' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    {% if user.is_authenticated %}
                        <form action="" class="form-horizontal" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {% for field in form %}
                                    <div class="col-md-6">
                                        {% if field.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            {{ field.help_text }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <p class="lead">{% trans 'Total amount' %}: <span id="price">{{ service.price }}</span>$</p>
                            <input type="submit" class="btn btn-primary" value="{% trans 'Checkout' %}">
                        </form>
                        <table style="display: none;">
                            {% for var in variations %}
                                <tr>
                                    <td id="{{ var.id }}">{{ var.price }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            <p><a href="{% url 'login' %}" class="alert-link">{% trans 'Login' %}</a> or <a href="{% url 'registration_register' %}" class="alert-link">{% trans 'register' %}</a> {% trans 'to send an application' %}.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}