{% extends "parts/layout.html" %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 title-section">
            <div class="page-header-line"></div>
            <h2 class="page-header seymor">{{title}}</h2>
            <div class="page-header-line"></div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center">
            <div class="login-container">
                {% if user.is_authenticated %} Что такое, {{ user.username }}? Вы же уже авторизорваны. Впрочем, всегда можно
                <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/> {% else %} {% if form.non_field_errors %} {{ form.non_field_errors}}
                {% endif %}
                <p>Привет, {{ account }}! Ваша учетная запись активирована. <a href="{% url 'auth_login' %}">Заходите</a> на сайт.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}