{% extends "engine/parts/base.html" %}
{% load i18n %}
{% block content %}
    <div class="fh5co-abstract">
        <div class="container justify-content-center">
            {% if user.is_authenticated %}
                <div class="alert alert-danger" role="alert">
                    {% trans 'You are already sign in.' %}
                </div>
            {% else %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <form action="" class="col-md-6 form-horizontal" method="post">
                    {% csrf_token %}
                        <div class="form-group">

                            {% for field in form %}
                                <div class="col-md-12">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.help_text %}
                                        {{ field.help_text }}
                                    {% endif %}
                                    {% if field.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <input type="submit" class="btn btn-primary" value="{% trans 'Sign in' %}">
                        <a href="{% url 'registration_register' %}" class="btn btn-primary">{% trans 'Register' %}</a>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
