{% extends "parts/layout.html" %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 align-self-center">
            <div class="login-container">
                {% if user.is_authenticated %} Что такое, {{ user.username }}? Вы же уже авторизорваны. Впрочем, всегда можно
                <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/> {% else %} {% if form.non_field_errors %} {{ form.non_field_errors}}
                {% endif %}
                <p>Письмо с инструкциями по восстановлению пароля отправлено</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}