{% extends "parts/layout.html" %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 title-section">
            <div class="page-header-line"></div>
            <h2 class="page-header seymor">{{title}}</h2>
            <div class="page-header-line"></div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center">
            <div class="login-container">
                {% if user.is_authenticated %} Что такое, {{ user.username }}? Вы же уже авторизорваны. Впрочем, всегда можно
                <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/> {% else %} {% if form.non_field_errors %} {{ form.non_field_errors}}
                {% endif %}
                <form method="post" action="" class="login-form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">{{ field }} {% if field.help_text %} {{ field.help_text }}{% endif %} {% if field.errors %} {{ field.errors}}{% endif %}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-12"><button type="submit" class="login-form-button reg-submit">Сбросить пароль</button></div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}