{% extends "engine/parts/base.html" %}
{% load i18n %}
{% block content %}
    <div class="fh5co-abstract">
        <div class="container justify-content-center">
            {% if user.is_authenticated %}
                <div class="alert alert-danger" role="alert">
                    {% trans 'You are already registered.' %}
                </div>
            {% else %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <form action="" class="col-lg-6 form-horizontal" method="post">
                    {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}
                                    {{ field.help_text|safe }}
                                {% endif %}
                                {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    <div class="row">
                        <input type="submit" class="btn btn-primary" value="{% trans 'Register' %}">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}