{% extends "engine/parts/base.html" %}
{% block content %}
    <!-- 404 -->
    <section class="not-found">
      <div class="container">
        <div class="not-found_t">5<span>0</span>0</div>
        <div class="not-found_slogan">Oops, Error!</div>
        <div class="not_found_txt">The page you were looking for could not be found.</div>
      </div>
    </section>
    <!-- /404 -->
{% endblock %}