{% extends "engine/parts/base.html" %}
{% load solo_tags %}
{% block content %}
    {% get_solo 'configs.AboutUsPageConfig' as config %}
	<div class="fh5co-abstract">
		<div class="container">
			<div class="row">
				<div class="col-md-12 animate-box">
					{{ config.full_desc|safe }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}