{% extends "engine/parts/base.html" %}
{% load i18n %}
{% block content %}
    <div class="fh5co-abstract">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>{{ user.username }}</h2>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab">{% trans 'Details' %}</a></li>
                <li><a href="#app" data-toggle="tab">{% trans 'Applications' %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans 'Sign out' %}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="details">
                    <form action="" class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% for field in form %}
                                <div class="col-md-6">
                                    {% if field.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.help_text %}
                                        {{ field.help_text }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
                    </form>
                </div>
                <div class="tab-pane fade" id="app">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">{% trans 'Service' %}</th>
                            <th scope="col">{% trans 'City' %}</th>
                            <th scope="col">{% trans 'Created' %}</th>
                            <th scope="col">{% trans 'Status' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in applications %}
                            <tr>
                                <td>{{ app.service }}</td>
                                <td>{{ app.city }}</td>
                                <td>{{ app.created }}</td>
                                <td>{{ app.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
{% endblock %}