{% extends "engine/parts/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">

					<div class="fh5co-contact-info">
						<h3>{% trans 'Contact Information' %}</h3>
						<ul>
							<li class="address">{% trans 'Address' %}</li>
							<li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li class="url"><a href="http://g6.life/">g6.life</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>{% trans 'Get In Touch' %}</h3>
					<form action="#">
						<div class="row form-group">
							<div class="col-md-6">
								<!-- <label for="fname">First Name</label> -->
								<input type="text" id="fname" class="form-control" placeholder="{% trans 'Your firstname' %}">
							</div>
							<div class="col-md-6">
								<!-- <label for="lname">Last Name</label> -->
								<input type="text" id="lname" class="form-control" placeholder="{% trans 'Your lastname' %}">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input type="text" id="email" class="form-control" placeholder="{% trans 'Your email address' %}">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="subject">Subject</label> -->
								<input type="text" id="subject" class="form-control" placeholder="{% trans 'Your subject of this message' %}">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="message">Message</label> -->
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="{% trans 'Say something about us' %}"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="{% trans 'Send Message' %}" class="btn btn-primary">
						</div>

					</form>
				</div>
			</div>

		</div>
	</div>
{% endblock %}