{% extends "engine/parts/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <div id="fh5co-services" class="fh5co-bg-section">
        <div class="container">
            <div class="row">
                {% for feature in features %}
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.desc }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="fh5co-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>{% trans 'Choose your destination' %}</h2>
                </div>
            </div>
            <div class="row row-bottom-padded-md justify-content-center">
                {% for service in services %}
                    <div class="col-sm-5">
                        <div class="fh5co-blog animate-box">
                            <a href="{{ service.get_absolute_url }}"><img class="img-responsive"
                                                                          src="{{ service.image.url }}" alt=""></a>
                            <div class="blog-text">
                                <h3><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{#    <div id="fh5co-testimonial" class="fh5co-bg-section">#}
{#        <div class="container">#}
{#            <div class="row animate-box">#}
{#                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">#}
{#                    <h2>Happy Clients</h2>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-md-10 col-md-offset-1">#}
{#                    <div class="row animate-box">#}
{#                        <div class="owl-carousel owl-carousel-fullwidth">#}
{#                            <div class="item">#}
{#                                <div class="testimony-slide active text-center">#}
{#                                    <figure>#}
{#                                        <img src="{% static 'site/images/person3.jpg' %}" alt="user">#}
{#                                    </figure>#}
{#                                    <span>Jean Doe, via <a href="#" class="twitter">Twitter</a></span>#}
{#                                    <blockquote>#}
{#                                        <p>&ldquo;Far far away, behind the word mountains, far from the countries#}
{#                                            Vokalia and Consonantia, there live the blind texts. Separated they live in#}
{#                                            Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>#}
{#                                    </blockquote>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="item">#}
{#                                <div class="testimony-slide active text-center">#}
{#                                    <figure>#}
{#                                        <img src="{% static 'site/images/person3.jpg' %}" alt="user">#}
{#                                    </figure>#}
{#                                    <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>#}
{#                                    <blockquote>#}
{#                                        <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the#}
{#                                            Semantics, a large language ocean.&rdquo;</p>#}
{#                                    </blockquote>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="item">#}
{#                                <div class="testimony-slide active text-center">#}
{#                                    <figure>#}
{#                                        <img src="{% static 'site/images/person3.jpg' %}" alt="user">#}
{#                                    </figure>#}
{#                                    <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>#}
{#                                    <blockquote>#}
{#                                        <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind#}
{#                                            texts. Separated they live in Bookmarksgrove right at the coast of the#}
{#                                            Semantics, a large language ocean.&rdquo;</p>#}
{#                                    </blockquote>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    {% include 'engine/parts/started.html' %}#}

{% endblock %}
