{% extends "engine/parts/base.html" %}
{% load i18n %}
{% block content %}
    <div class="fh5co-abstract">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">{% trans 'Your application was successfully submitted!' %}</p>
                    <p><a class="btn btn-primary" href="{% url 'main_page' %}">{% trans 'Go home' %}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
