<!DOCTYPE HTML>{% load i18n %}{% get_current_language as LANGUAGE_CODE %}{% load solo_tags %}
{% get_solo 'configs.GeneralOptions' as config %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} / {{ config.site_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.site_desc }}"/>
    <meta name="keywords"
          content=""/>
    <meta name="author" content="G6.LIFE"/>
{##}
{#    <meta property="og:title" content=""/>#}
{#    <meta property="og:image" content=""/>#}
{#    <meta property="og:url" content=""/>#}
{#    <meta property="og:site_name" content=""/>#}
{#    <meta property="og:description" content=""/>#}
{#    <meta name="twitter:title" content=""/>#}
{#    <meta name="twitter:image" content=""/>#}
{#    <meta name="twitter:url" content=""/>#}
{#    <meta name="twitter:card" content=""/>#}

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
    {% load static %}
    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'site/css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'site/css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'site/css/bootstrap.css' %}">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'site/css/lightbox.css' %}">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{% static 'site/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/owl.theme.default.min.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'site/js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="{% static 'site/js/respond.min.js' %}"></script>
	<![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109127502-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-109127502-1');
    </script>
</head>
<body>
<div id="page">

    {% include "engine/parts/header.html" %}

    {% block content %}{% endblock %}
    {% include "engine/parts/footer.html" %}
</div>

<!-- jQuery -->
<script src="{% static 'site/js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'site/js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'site/js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'site/js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar Parallax -->
<script src="{% static 'site/js/jquery.stellar.min.js' %}"></script>
<!-- Litebox -->
<script src="{% static 'site/js/lightbox.js' %}"></script>
<!-- Carousel -->
<script src="{% static 'site/js/owl.carousel.min.js' %}"></script>
<!-- countTo -->
<script src="{% static 'site/js/jquery.countTo.js' %}"></script>
<!-- Main -->
<script src="{% static 'site/js/main.js' %}"></script>
</body>
</html>