{% load static %}
{% load i18n %}
{% load solo_tags %}
{% get_solo 'configs.GeneralOptions' as config %}
<footer id="fh5co-footer" class="fh5co-bg" style="background-image: url({% static 'site/images/img_bg_1.jpg' %});"
        role="contentinfo">
    <div class="overlay"></div>
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h3>{% trans 'A Little About G6.LIFE' %}</h3>
                <p class="pre-wrap">{{ config.footer_desc }}</p>
                <p><a class="btn btn-primary" href="{% if user.is_authenticated %}{% url 'all_services' %}{% else %}{% url 'registration_register' %}{% endif %}">{% trans 'Start now' %}</a></p>
            </div>
            <div class="col-md-8">
                <div class="col-md-offset-4 col-md-4 col-sm-4 col-xs-6">
                    <h3>{% trans 'Services' %}</h3>

                    <ul class="fh5co-footer-links">
                        {% for country in countries_footer %}
                            <li><a href="{{ country.get_absolute_url }}">{{ country }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <h3>{% trans 'Links' %}</h3>

                    <ul class="fh5co-footer-links">
                        <li><a href="{% url 'main_page' %}">{% trans 'Home' %}</a></li>
                        <li><a href="{% url 'about_page' %}">{% trans 'About us' %}</a></li>
                        <li><a href="{% url 'all_services' %}">{% trans 'Services' %}</a></li>
                        <li><a href="{% url 'account_page' %}">{% trans 'Account' %}</a></li>
                        <li><a href="{% url 'contacts_page' %}">{% trans 'Contacts' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">{% blocktrans %}&copy; 2017 G6. All Rights Reserved.{% endblocktrans %}</small>
                </p>
                <p>
                <ul class="fh5co-social-icons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>