{% load static %}
{% load i18n %}
<div class="fh5co-loader"></div>
<nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="{% url 'main_page' %}">G6<span>.life</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="{% url 'main_page' %}">{% trans 'Home' %}</a></li>
                        <li><a href="{% url 'about_page' %}">{% trans 'About us' %}</a></li>
                        <li><a href="{% url 'all_services' %}">{% trans 'Services' %}</a></li>
                        <li><a href="{% url 'contacts_page' %}">{% trans 'Contacts' %}</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'account_page' %}"><i class="icon-user"></i></a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}"><i class="icon-login"></i></a></li>
                        {% endif %}
                        <li><a href="/ru/">RU</a>/<a href="/en/">EN</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" {% if banner_img %}
        style="background-image: url('{{ banner_img }}');" {% endif %} role="banner"
        data-stellar-background-ratio="0.5">

    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>{{ title }}</h1>
                        {% if description %}
                            {% if description|length < 250 %}
                                <h2>{{ description|safe }}</h2>
                            {% else %}
                                <button type="button" class="btn btn-primary more-info" data-toggle="modal"
                                        data-target="#page-desc">
                                    {% trans 'More info' %}
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% if description|length > 250 %}
    <div class="modal fade" id="page-desc" tabindex="-1" role="dialog"
         aria-hidden="true" aria-labelledby="page-desc-title">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    {{ description|safe }}
                </div>
            </div>
        </div>
    </div>
{% endif %}