	<div id="fh5co-started" class="fh5co-bg">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2>Special offer <br> <span> Pay Now and <br> Get <span class="percent">35%</span> Discount</span></h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="{% url 'registration_register' %}" class="btn btn-default btn-lg">Sign up</a></p>
				</div>
			</div>
		</div>
	</div>